* {
	box-sizing: border-box;
}

.padd{
	padding: 40px;
}


html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
}

img {
	vertical-align: middle;
}

body {
    color: white;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}


header {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    text-align: center;
    text-transform: uppercase;
}

header h1 {
	font-size: 4vw;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family: Verdana, sans-serif;
}

header, header:before {
    background: 50% 50% / cover;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: url(img/test.jpg);
    background-size: cover;
    transform-origin: center center 0 ;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

.dws-menu *{               /*МЕНЮ*/
  margin:0;
  padding: 0;
}

.dws-menu ul,
.dws-menu ol{
list-style: none;
}

.dws-menu > ul{
  display: flex;
  justify-content: center;
}

.dws-menu > ul li a{
  display: block;
  background: #0B0B0B;
  padding: 15px 30px 15px 40px;
  font-size: 15px;
  color: #ffffff;

}

.dws-menu li ul{
  position: absolute;
  min-width: 150px;
}

.dws-menu li > ul li{
  border: 1px solid #17b7e3;
}
.container {
    z-index: 2;
    position: absolute;
    top: 100vh;
    background-color: #0B0B0B;
    line-height: 30px;
    font-weight: lighter;
    color: #F0F8FF;
	font-size: 18px;
}

.mySlides {
	display: none;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 2s ease;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

hr.sr {
  border: 1px solid;
  width: 40vw;
}

meintro {
	font-size: 20vw;
    margin: 0;
    position: absolute;
	font-family: Verdana, sans-serif;
}
#document { 
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
  flex: auto;
}

footer {
    flex-shrink: 0;
	color: white;
	background-color: #081837;
	font-family: Verdana, sans-serif;
	font-size: 1vw;
}
 
.neon { 
	margin-left: 20px;
	margin-right: 20px;
	position: relative;
    padding: 15px 30px; 
    display: inline-block; 
    color: #2196f3; 
    letter-spacing: 4px; 
	text-transform: uppercase; 
    text-decoration: none; 
	font-size: 2em; 
    overflow: hidden; 
	transition: 0.2s;
} 

.neon:hover { 
    color: #255784; 
    background: #2196f3; 
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3; 
}

.parallax{
	overflow: hidden;
}

.parallaxbgp{
	box-sizing: border-box;
    height: 60vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    text-align: center;
    text-transform: uppercase;
}

.parallaxbgp::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: url(img/space7.jpg);
    background-size: cover;
    transform-origin: center center 0 ;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}
.box1 {
  width: 100vw;
  margin: 0;
  padding: 0;
  height: 50px;
}
.box2 {
  width: 100vw;
  margin: 0;
  padding: 0;
  height: 200px;
}
.parallaxbgp h1{
	font-size: 4vw;
	color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	font-family: Verdana, sans-serif;
}